In [2]:
file=open('file.csv','r')
print(file.read())

S.no,Date,Name,Degree,Salary
1,    1.01.24,kalyani,b.sc,15000
2,     02.01.24,susi,b.sc,16000
3,   03.01.24,devi,b.com,17000
4,  04.01.24,sidhu,b.com,17000
5, 05.01.24,kanaga,b.com,30000
,,,,
,,,,
,,,,
,,,,

In [6]:
import csv
col=['s.no','name','degree','salary']
row=[[1,'kalyani','b.sc',15000],
    [2,'devi','b.com',16000],
    [3,'susi','b.sc',17000]]
with open('aruvi.csv','w') as w:
    writer=csv.writer(w)
    writer.writerow(col)
    writer.writerows(row)

In [6]:
file=open('file2.txt','r')
print(file.read())
file.close()

hi good morning

In [14]:
file=open('file2.txt','a')
file.write('to all')
file.close()

In [13]:
file=open('file2.txt','w+')
file.write('aruvi')
file.seek(0)
print(file.read())
file.close()

aruvi

In [24]:
file=open('file4.txt','x')
file.write('Hi susi')
file.close()

In [ ]:
file=open('jackey4.txt','x')
file.write(input('enter the frist number:'))
file.write(input('enter the second number:'))
file.write(input('enter the operator:'))
file.seek(0)
file.read()

In [1]:
file=open('file4.txt','w+')
file.write('\n susi i learn python now')
file.read()
file.close()

In [7]:
with open('file4.txt','r')as file:
    file.read()

In [9]:
with open('file4.txt','w') as file:
    n=int(input('enter a no.of.stud:'))
    file.write(f'{n} \n')
    a=1
    while a<=n:
        file.write(input('enter a name:') +'\n')
        file.write(input('enter a age:') +'\n')
        a+=1
    file.seek(0)
    print(file.read())

enter a no.of.stud:2
enter a name:kalyani
enter a age:21
enter a name:eswaran
enter a age:27

UnsupportedOperation: not readable