# For loop

In [3]:
for i in "apple":
    print(i)

a
p
p
l
e

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(1,11):
    print(i,'x2=',i*2)

1 x2= 2
2 x2= 4
3 x2= 6
4 x2= 8
5 x2= 10
6 x2= 12
7 x2= 14
8 x2= 16
9 x2= 18
10 x2= 20

In [18]:
for i in range(1,11):
    print(i,'x3=',i*3)

1 x3= 3
2 x3= 6
3 x3= 9
4 x3= 12
5 x3= 15
6 x3= 18
7 x3= 21
8 x3= 24
9 x3= 27
10 x3= 30

In [22]:
a=int(input('enter a number:'))
b=int(input('enter a number:'))
for i in range(a,b):
    print(i)

enter a number:9
enter a number:15
9
10
11
12
13
14

In [23]:
for i in range(1,11):
    if (i%2==0):
        print(i)

2
4
6
8
10

In [24]:
for i in range(1,11):
    if (i%2!=0):
        print(i)

1
3
5
7
9