# function (block of code)
two type of function
Built in function
User defined function

# syntax:
def(keyword)f_name(function name)(agr):(arguments)
    return(optional)

In [3]:
#user define function

def kalyani():
    print('b.sc')
kalyani()    
#kalyani()
#kalyani()

b.sc

In [5]:
def add():
    a=5
    b=7
    print(a+b)
add()

12

In [9]:
#function argument
#a=7
#b=8
def add(a,b):
    print(a+b)
#add(a,b)    
add(6,6)

12

In [11]:
def multi(a,b):
    print(a*b)
multi(5,2)

10

In [16]:
def power(x,y):
    print(x**y)
power(2,4)

16

In [17]:
def sub(a,b):
    print(a-b)
sub(3,5)

-2

In [27]:
def divide(a,b):
    print(a/b)
divide(2,6)

0.3333333333333333

In [32]:
def floordivide(x,y):
    print(x//y)
floordivide(2,8)

0

In [33]:
def modulo(a,b):
    print(a%b)
modulo(3,2)

1

In [38]:
def ret(aa,bb):
    return(aa+bb)
#ret(70,91)
print(ret(70,91))

161

In [42]:
def add(a,b):
    return(a+b)
print(add(5,5))

10

In [43]:
def add(a,b):
    print(a+b)
add(4,4) 
print(add(4,4))

8
8
None

In [44]:
a=10
def square(a):
    print(a**2)
    print(a*a)
square(10)

100
100

# Task(08.02.24)sum( ) function

In [9]:
n=[3,6,8,9,2,7]
def add_sum(n):
    total=1
    for i in n:
        total+=i
    print(total)
add_sum(n)

36

In [10]:
add_sum([3,6,8,9,2])

29

In [1]:
def add(x,y):
    return x+y
print(add(3,5))

8

In [5]:
def add(x,y):
    print(x+y)
print(add(10,3))

13
None

In [7]:
def find(num):
    result=num*num
    return result
square=find(3)
print('square:',square)

square: 9

# library function

In [10]:
import math
print(math.sqrt(25))

5.0

In [9]:
import math
print(math.pow(10,3))

1000.0

In [11]:
a=['apple','banana','cherry','python']
def upper(a):
    for m in a:
        print(m.upper())
upper(a)

APPLE
BANANA
CHERRY
PYTHON

In [12]:
#ex:
a=['pyth',2,3,4,5,'python2',-1,-2,-3,-4,'c++',100]
def positive(a):
    for i in a:
        if type(i)!=str:
            if i>0:
                print(i)
positive(a)

2
3
4
5
100

# Benefits of using function

In [13]:
a=[1,8,10,12,18,20]
def square(x):
    for i in x:
        print(i*i)
square(a)

1
64
100
144
324
400

In [15]:
def mul(x,y,z=0):
    print(x*y*z)
mul(8,9,10)
mul(10,7)

720
0

# keyword argument

In [19]:
def mul(x,y,z):
    print(x*y*z)
#mul(x=10,y=7,z=20) 
mul(x=10,z=2,y=10)

200

# function with arbitrary arugments (*)

In [29]:
def arb(*x):
    a=0
    for i in x:
        a+=i
    print(a)
arb(1,2,3,4)

10

In [30]:
def arb(x,*y):
    print(x)
    print(y)
arb(5,6,7,8,9)

5
(6, 7, 8, 9)

In [21]:
#keyword arugment
def fun(**x):
    print(x['name'],x['age'])
fun(name='python',age=21)

python 21

# lambda function declartion
#syntax:
lambda arg:expression.

In [31]:
b=lambda : print('Hello python')
b()

Hello python

In [32]:
#add
add=lambda x,y :print(x+y)
add(15,5)

20

In [40]:
#square---(**2)
square=lambda x,y:print(x**2,y**2)
square(10,4)

100 16

In [55]:
for i in range(7):
    print(i)
print([i for i in range(7)])

0
1
2
3
4
5
6
[0, 1, 2, 3, 4, 5, 6]

In [57]:
#list comprehension:
print([i for i in range(5)])

[0, 1, 2, 3, 4]

In [33]:
print([(lambda i:len(i))(ii) for ii in ['python','c++','java','c#']])

[6, 3, 4, 2]

In [30]:
#for loop with factorial method
a=1
n=5
for i in range(1,n+1):
    a=a*i
print(a)

120

# map()Function

  1. Function executes a specified function for each iterable
  2. Sent parameter in function
  
  SYNTAX:
      Map(function,iterables)

In [32]:
print (list(map(lambda i:i**2,[1,2,3,4,5])))

[1, 4, 9, 16, 25]

In [43]:
def pow (i):
    return(i**2)
list (map(pow,[1,2,3,4,5,6,7]))

[1, 4, 9, 16, 25, 36, 49]

In [15]:
def add(n):
    print(n+n)
    list(map(add,[20,30,40,50]))