# oops(object oriented programming system)
state-variables/attributes behaviour-method/function

In [1]:
#to create class
class myclass:
    x=5
print(myclass)

<class '__main__.myclass'>

In [2]:
#creation of object
class myclass:
    x=20
obj=myclass()
print(myclass.x)#to access class variable

20

In [4]:
class employee:
    employee_id=0
employee1=employee()
employee2=employee()
employee1.employee_id=1001
print(f'employee_id :{employee1.employee_id}')
employee2.employee_id=1002
print(f'employee_id :{employee2.employee_id}')

employee_id :1001
employee_id :1002

In [11]:
class employee:
    employeeID=0
employee1=employee()
employee2=employee()
print(f'employeeID :{employee.employeeID}')
employee1.employeeID=1001
print(f'employeeID :{employee1.employeeID}')
employee2.employeeID=1002
print(f'employeeID :{employee2.employeeID}')
#print('employeeID:',employee2.employeeID)

employeeID :0
employeeID :1001
employeeID :1002

In [12]:
#accessing attributes
class data:
    Name='Kalyani'
    Degree='B.sc.cs'
    Location='Tenkasi'
    State='Tamilnadu'
personaldata=data()
print(personaldata.Name)
print(personaldata.Degree)
print(personaldata.Location)
print(personaldata.State)

Kalyani
B.sc.cs
Tenkasi
Tamilnadu

In [14]:
#method
class phone:
    name='eswaran'
    model='vivo y15s'
    def display(x):#x-instance(function object)
        print('phonemodel',x.model)
cell=phone()#cell-class object
cell.display()

phonemodel vivo y15s