In [4]:
class mynumber:
    def __init__(self,value):
        self.value = value
    def __add__(self,other):
        return mynumber(self.value+other.value)
num1=mynumber(5)
print(num1.value)
num2=mynumber(3)
print(num1.value)
result=num1+num2
print('Result of addition:',result.value)

5
5
Result of addition: 8

In [7]:
class mynumber:
    def __init__(self,value):
        self.value = value
    def __add__(self,other):
        return self.value+other.value
num1=mynumber(5)
print(num1.value)
num2=mynumber(3)
print(num1.value)
result=num1+num2
print('Result of addition:',result)

5
5
Result of addition: 8

# polymorphism

In [11]:
class car:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def move(self):
        print('drive!')
class boat:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def move(self):
        print('sai!')
class plane:
    def __init__(self,brand,model):
        self:brand=brand
        self:brand=brand
    def move(self):
        print('fly!')
car1=car('ford','mustang')
boat1=boat('ibiza','touring 20')
plane1=plane('boeing','747')

for x in (car1,boat1,plane1):
    x.move()

drive!
sai!
fly!

In [15]:
class dep:
    def data_science(self):
        print('this is data science course')
    def full_stack(self):
        print('this is full stack course')
class dep1:
    def data_science(self):
        print('this is data science department2')
    def full_stack(self):
        print('this is full stack course2')
d1=dep()
d2=dep1()
for i in (d1,d2):
    i.data_science()
    i.full_stack()

this is data science course
this is full stack course
this is data science department2
this is full stack course2

In [23]:
class vehicle:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def move(self):
        print('move!')
class car(vehicle):
    pass
class boat(vehicle):
    def move(self):
        print('sai!')
class plane(vehicle):
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def move(self):
        print('fly!')
car1=car('ford','mustang')
boat1=boat('ibiza','touring 20')
plane1=plane('boeing','747')

for x in (car1,boat1,plane1):
    print(x.brand)
    print(x.model)
    x.move()

ford
mustang
move!
ibiza
touring 20
sai!
boeing
747
fly!

# encapsulation(14.02.24)

Bundling of data and method within a single unit

*attributes security

ACCESSING MODIFER IN PYTHON

1.PUBLIC MEMBER---accessible anywhere within or outside of class
2.PRIVATE MEMBER---accessible within class
3.PROTECTED MEMBER---accessible within class and it sub -class

class employee:

def __init__(self,name,salary)

    self.name=name (public member)
    self._project=project (protected)
    self.__salary=salary (private)

In [5]:
class empolyee:
    def __init__(self,name,salary):
        self.name=name
        self.salary=salary
    def show(self):
         print('name:',self.name,'salary:',self.salary)
emp=empolyee('kalyani',100000)
print('name:',emp.name,'salary:',emp.salary)
emp.show()

name: kalyani salary: 100000
name: kalyani salary: 100000

In [11]:
class employee:
    def __init__(self,name,salary):
        self.name=name
        self.__salary=salary
emp=employee('kalyani',30000)
print('name:',emp.name)
print('salary:',emp._employee__salary)

name: kalyani
salary: 30000

In [13]:
class employee:
    def __init__(self,name,salary):
        self.name=name#public data member
        self.__salary=salary#private member
    def show(self):#public instance methods
        print('name:',self.name,'salary:',self.__salary)
emp=employee('priya',500000)
emp.show()

name: priya salary: 500000

In [19]:
#public method to access private members
class company:
    def __init__(self):
        self._project='nlp'
class employee (company):
    def __init__(self,name):
        self.name=name
        company.__init__(self)
    def show(self):
        print('employee name:',self.name)
        print ('employee working on project:',self._project)
c=employee('ek')
c.show()
print('project:',c._project)

employee name: ek
employee working on project: nlp
project: nlp

In [22]:
class student:
    def __init__(self):
        self.name='python'
        self.id='10001'
class dep(student):
    def __init__(self,name,id):
        self.name1=name
        self.id1=id
        student.__init__(self)
    def display(self):
        print('second class name & id:',self.name1,self.id1)
        print(self.name)
        print(self.id)
d1=dep('python1','2001')
d1.display()

second class name & id: python1 2001
python
10001

In [ ]:
#task
create class-first class-give name,number,mail

create second class-give name1,number1,mail1

first class

second class access for first class attributes

In [57]:
class firstclass:
    def __init__(self):
        self.name='kalyani'
        self.number='123456789'
        self.mail='kal23@gmail.com'
class secondclass(firstclass):
    def __init__(self,name,mail,number):
        self.name1=name
        self.number1=number
        self.mail1=mail
        firstclass.__init__(self)
    def display(self):
        print('self.mail1:',self.mail1, '\nself.number1:',self.number1, '\nself.name1:',self.name1)
        print(self.name)
        print(self.mail)
        print(self.number)
d1=secondclass('kal','23@gmail.com',12345678)
d1.display()

self.mail1: 23@gmail.com
self.number1: 12345678
self.name1: kal
kalyani
kal23@gmail.com
123456789